.formControl {
}

.formControl.error input,
.formControl.error textarea {
	border: 5px solid red;
}

.formControl.error span {
	color: red;
}

.formSummaryError {
	color: #ff6666;
	border: 5px solid #9966cc;
	padding: 5px;
}
