.header {
	grid-area: h;
	background-color: greenyellow;
}
.header img {
	width: 80px;
	margin-left: 20px;
	margin-top: 10px;
}
.blockLogin {
	margin: 20px 20px 0px 0px;
	float: right;
}
.blockLogin a {
	color: #fff;
}
