a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

.nav {
	grid-area: n;
	background-color: #008000;
	padding: 20px;
}

.item a {
	color: #fff;
}

.item a.activeLink {
	color: gold;
}
